@import "reset";

$main-color: #21417A;
$secondary-color: #558CD3;

h1 {
  color:#000;
}

h2 {
  color:$main-color;
  border-bottom-color:#ccc;
}

h3 {
  color:$secondary-color;
}

pre {
  border-color:#ccc;
}

code {
  color:#888;
}

blockquote {
  font-size:2em;
  font-style:italic;
  padding:1em 2em;
  color:#000;
  border-left:5px solid #ccc;

  p {
    margin:0;
  }

  cite {
    font-size:.5em;
    font-style:normal;
    font-weight:bold;
    color:#888;
  }
}

::-moz-selection{ background:$main-color; color:#fff; }
::selection { background:$main-color; color:#fff; }

a {
  &, &:hover, &:focus, &:active, &:visited {
    color:$main-color;
    text-decoration:none;
  }

  &:hover, &:focus {
    text-decoration:underline;
  }
}

.deck-container {
  font-family: "Helvetica Neue", sans-serif;
  font-size:1.75em;
  background:#fff;

  > .slide {
    padding:0 48px;
  }
}

.slide {
  .deck-before, .deck-previous {
    opacity:0.4;

    &:not(.deck-child-current) {
      .deck-before, .deck-previous {
        opacity:1;
      }
    }
  }

  .deck-child-current {
    opacity:1;
  }
}

.deck-prev-link, .deck-next-link {
  background:#ccc;
  font-family:serif;

  &, &:hover, &:focus, &:active, &:visited {
    color:#fff;
  }

  &:hover, &:focus {
    background:$main-color;
    text-decoration:none;
  }
}

.deck-status {
  font-size:0.6666em;
}

.deck-menu {
  .slide {
    background:#eee;
  }

  .deck-current, .no-touch & .slide:hover {
    background:#ddf;
  }
}
